<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Log in</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media='screen'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-social/5.0.0/bootstrap-social.css" media='screen'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' media='screen'>
    <link rel='stylesheet' href='/stylesheets/login.css' media='screen'>
    <script src="/javascripts/login.js"></script>
  </head>

  <body>

      <div id='loginContainer' class='container'>
          <h1 id='loginTitle' class="center" data-toggle='tooltip'>Chatroom <span class='fa fa-comments'></span></h1>

          <br><br><br><br>

          <div class='row'>
              <a id='fbLogin' class="center btn btn-block btn-social btn-facebook" data-toggle='tooltip' title='We do not post on your behalf' href='/auth/facebook' style='width:10em;'>
                  <span class="fa fa-facebook"></span>
                  Log in
              </a>
          </div>

          <div class="row omb_loginOr">
              <div class="col-xs-12">
                  <hr class="omb_hrOr">
                  <span class="omb_spanOr">or</span>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">	
                  <form id='loginForm' class="omb_loginForm" autocomplete=off'>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input type="text" class="form-control" id='nicknameField'  placeholder='Choose nickname' autocomplete='off'>
                      </div>

                      <div id='nicknameError' class='inline alert alert-danger'> </div>
                      <div id='nicknameOk' class='inline alert alert-success'> </div>
                </form>
              </div>
          </div>  	
      </div>

      <a id='githubBox' data-toggle='tooltip' data-placement='left' title='View this project on github' class='fa fa-github' href='https://github.com/ozhi27/chatroom' ></span>

  </body>
</html>
