<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        $(document).ready(function() {           
            var socket = io('http://localhost:3000/'); //connects to a namespace so that user can be deleted on disconnect
        });
    </script>
  </head>

  <body>

    <h1> Welcome to Chatroom </h1>

    <span style='color:<%= session.color %>; font-weight:bold;'> <%= session.nickname %> </span>
    |
    <a href='/destroySession'>Change nickname</a>
    |
    <a href='/rooms'>Rooms</a>

    <br><br><br>
    
    <ul style='margin-top:50px;'>
      <b>TO DO</b>:
      <li>force unique nicknames</li>
      <li>should i make an ajax call to db on evey keyup to tell user if nickname is free/taken</li>
      <li>show which/how many users are in room/lobby/general</li>
      <li>bug: when you are alone in a room and refresh the page</li>
      <br>

      <b>Features</b>:
      <li>show that someone is typing</li>
      <li>show progressbar at room members</li>
      <br>

      <b>Read</b>:
      <li>Still have <a href='https://github.com/mkdynamic/omniauth-facebook/issues/61'>issue</a> with accessing fb users' emails</li>
      <li>Finish reading <a href='http://backlinko.com/google-ranking-factors'>SEO tips</a> (around 162?)</li>
    </ul>

  </body>
</html>
