<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1> Welcome to Chatroom </h1>

    <a href='/destroySession'>Change nickname</a>
    |
    <a href='/rooms'>Rooms</a>

    <br><br><br>
    
    <ul style='margin-top:50px;'>
      TO DO:
      <li>show that someone is typing</li>
      <li>Still have <a href='https://github.com/mkdynamic/omniauth-facebook/issues/61'>issue</a> with accessing fb users' emails</li>
      <li>Finish reading <a href='http://backlinko.com/google-ranking-factors'>SEO tips</a> (around 162?)</li>
    </ul>

  </body>
</html>
