<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        $(document).ready(function() {           
            var socket = io('http://localhost:3000/');
        });
    </script>
  </head>

  <body>

    <h1> Welcome to Chatroom </h1>

    <span style='color:<%= session.color %>; font-weight:bold;'> <%= session.nickname %> </span>
    |
    <a href='/destroySession'>Change nickname</a>
    |
    <a href='/rooms'>Rooms</a>

  </body>
</html>
