<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/initialize.js"></script>
  </head>

  <body>

    <form>
        <p style='color:blue;'>   <input type='radio' name='colorField' value='blue' checked='true'> Blue   </p>
        <p style='color:red;'>    <input type='radio' name='colorField' value='red'>                 Red    </p>
        <p style='color:orange;'> <input type='radio' name='colorField' value='orange'>              Orange </p>
        <p style='color:green;'>  <input type='radio' name='colorField' value='green'>               Green  </p>

        <input type='text' id='nicknameField'  placeholder='Nickname' autocomplete='off' />
        <span id='validNickname' style='color:red;'></span>
    </form>

  </body>
</html>
