<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/login.js"></script>
  </head>

  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=646805758811260";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <center>
      <div id='loginOptionsBox'>
          <h1 class='center'>Choose how others will see you:</h1>

          <form id='loginForm' class='floatLeft'>
              <input type='text' id='nicknameField'  placeholder='Nickname' autocomplete='off' />
              <span id='validateNickname' style='color:red;'></span>
          </form>

          <h1 class='floatLeft'>or</h1>

          <a href='/auth/facebook' class="floatLeft">Continue with Facebook</a>
      </div>
    </center>

  </body>
</html>
