<!DOCTYPE html>
<html>
  <head>
    <title><%= room.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src='/javascripts/chatSocket.js'></script>
  </head>

  <body>

    <h1> <%= room.name %> </h1>

    <a href='/rooms'>Leave</a>

    <br><br><br>

    <div class='room'>
        (<div id='onlineUsers'> </div>)
      
        <div id='chatWrap'>
            <table id='chat'>
            </table>
        </div>
        
        <form id='submitMessage'>
            <input id="m" autocomplete="off" placeholder='Type here'/>
        </form>
    </div>

  </body>
</html>
