body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.room {
    border: 1px solid black;
}

.room input {
    width: 100%;
}

#onlineUsers {
    display: inline-block;
    margin-bottom: 20px;
}

#chatWrap {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}







#roomsList {
    border: 1px solid black;
    margin-top: 30px;
}

#roomsList tr:nth-child(even) {
    background: #eee;
}