body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : GhostWhite;
}

a {
    color: #00B7FF;
}

.inline { display : inline; }
.hidden { display : none; }
.floatLeft {
    display : inline;
    margin  : 20px;
 }
.border { border : 1px solid black; }


.room {
    border: 1px solid black;
}

.room input {
    width: 100%;
}



#loginOptionsBox {
    display: inline-block;
    margin-left : auto;
    margin-right : auto;
}




#onlineUsers {
    display: inline-block;
    margin-bottom: 20px;
}

#chatWrap {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}






#newRoomForm {
    margin-bottom: 30px;
}

#roomsList {
    border: 1px solid black;
}

#roomsList tr:nth-child(even) {
    background: #eee;
}
